<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<servlet>
	   <servlet-name>SignController</servlet-name>
	   <servlet-class>controller.SignController</servlet-class>
	   <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
	   <servlet-name>ManageController</servlet-name>
	   <servlet-class>controller.ManageController</servlet-class>
	   <load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
	   <servlet-name>CommentController</servlet-name>
	   <servlet-class>controller.CommentController</servlet-class>
	   <load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
	   <servlet-name>UserController</servlet-name>
	   <servlet-class>controller.UserController</servlet-class>
	   <load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
	  	<servlet-name>ProjectController</servlet-name>
	  	<servlet-class>controller.ProjectController</servlet-class>
	  	<load-on-startup>5</load-on-startup>
  	</servlet>
	
	<servlet-mapping>
	   <servlet-name>SignController</servlet-name>
	   <url-pattern>/sign/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>ManageController</servlet-name>
	   <url-pattern>/manage/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>CommentController</servlet-name>
	   <url-pattern>/comment/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>UserController</servlet-name>
	   <url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProjectController</servlet-name>
		<url-pattern>/project/*</url-pattern>
		<load-on-startup>5</load-on-startup>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>